@model CashHub.Models.Sub

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sub</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubRefNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubRefNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
